media (max-width: 900px) {
  .aa-navigation-container {
    display: none;
  }
  .aa-title {
    display: none !important;
  }

  .aa-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
