/*------------Layout-------------*/
.aa-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

.aa-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.aa-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: #64ffda !important;
  color: black !important;
}

.aa-mobile-title {
  display: none !important;
}


.aa-logo-image {
  height: 28px;
  width: 140px;
}


.aa-header {
  overflow: visible;
  background-color: white;
}

  .aa-header .material-icons {
    color: #767777 !important;
  }

  .aa-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
  }

  .aa-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
  }

.aa-header .mdl-navigation__link {
  color: #757575;
  font-weight: 700;
  font-size: 14px;
}

.aa-navigation-container {
  /* Simple hack to make the overflow happen to the left instead... */
  direction: rtl;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  width: 500px;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.aa-navigation {
  /* ... and now make sure the content is actually LTR */
  direction: ltr;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 800px;
}

.aa-search-box.is-focused + .aa-navigation-container {
  opacity: 0;
  width: 100px;
}


.aa-navigation .mdl-navigation__link {
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}

  .aa-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid rgb(0,150,136);
  }

.aa-search-box {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  margin-left: 16px;
  margin-right: 16px;
}


.aa-drawer {
  border-right: none;
}

  .aa-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }

  .aa-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }

  .aa-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: rgb(0,150,136);
  }

  .aa-drawer .mdl-layout-title {
    position: relative;
    background: rgb(0,150,136);
    height: 160px;
  }

    .aa-drawer .aa-logo-image {
      position: absolute;
      bottom: 16px;
    }

.aa-content {
  background-color: #f3f3f3;
}

.aa-card {
  width: 100%;
}

.aa-card > .mdl-card__title {
  color: rgb(0,150,136);
  height: 200px;
}

.aa-wedding-card > .mdl-card__title {
  background: url('images/cards/wedding.jpg') center / cover;
}

.aa-trip-card > .mdl-card__title {
  background: url('images/cards/trip.jpg') center / cover;
}

.aa-house-card > .mdl-card__title {
  background: url('images/cards/house.jpg') center / cover;
}

.aa-custom-card > .mdl-card__title {
  background: url('images/cards/custom.jpg') center / cover;
}

/*-----------Custom Styles-------------*/

.aa-mdl-floated {
  font-size: 12px !important;
  top: 4px !important;
}

.aa-mdl-input-button {
  left: 300px;
}

.aa-current-chips {
  width: 300px;
  max-width: 100%;
}

.aa-mdl-chip {
  border: none;
  border-radius: 2px;
  color: #fff;
  height: 24px;
  margin: 0;
  min-width: 48px;
  padding: 0 11px;
  display: inline-block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  text-align: center;
  line-height: 24px;
  vertical-align: middle;
  margin-right: 4px;
  margin-bottom: 4px;
}
