@font-face {
  font-family: 'Merriweather';
  src: url('/client/fonts/Merriweather_UltraBold_Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DejaVuSans';
  src: url('/client/fonts/DejaVuSans-ExtraLight.ttf');
  font-weight: normal;
  font-style: normal;
}
