.btn-google, .btn-facebook {
  width: 300px;
}

.btn-lg.btn-google i, .btn-lg.btn-facebook i {
  line-height: 24px;
}

.aa-social {
  float: right;
  width: 315px;
}

.lb-social {
  display: block;
  float: left;
}

@media (max-width: 767px) {
  .aa-social {
    width: 100%;
  }
  .aa-social .btn {
    float: left;
  }
}

.btn-forgot-password {
  padding: 0 !important;
  border: none !important;
  line-height: 44px !important;
  font-size: 12px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.btn-forgot-password:hover {
  color: #000;
}
