@media (max-width: 767px) {
  .aa-offer-reply.aa-reply-my {
    margin-right: 10%;
  }
  .aa-offer-reply.aa-reply-their {
    margin-left: 10%;
  }
}

.aa-post-picture {
  max-width: 100%;
  max-height: 200px;
}
