#inputPost {
  width: 100%;
  height: 350px;
}

.aa-post-map {
  width: 100%;
  height: 400px;
}

.input-group .btn.btn-location-nearby {
  margin-left: 3px;
}

.popover.aa-nearby-popover .popover-title {
  display: none;
}
