.aa-offer-block {
  margin-bottom: 15px;
}

.aa-offer-navigate-button {
  width: 140px;
}

.aa-offer-header {
  min-height: 34px;
  padding-top: 7px;
}

.aa-offer-supplier {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
}

.aa-offer-time {
  width: 90px;
}
