.aa-profile-section {
  margin-bottom: 20px;
}
.aa-profile-picture {
  width: 100px;
  height: 100px;
  background: transparent url("/client/images/blank-profile.png") no-repeat center center;
  background-size: 100px 100px;
}
.aa-profile-signout {
  padding-top: 32px;
  height: 100px;
}
.btn-change-password {
  padding: 0 !important;
  border: none !important;
  line-height: 30px !important;
  font-size: 12px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.btn-change-password:hover {
  color: #000;
}
