<div class="container-fluid">
  <div class="row">
    <div class="aa-notification-area no-outline col-sm-offset-2 col-sm-8" tabindex="-1">
    </div>
  </div>
  <div class="row">
    <div class="aa-alerts-container col-sm-offset-2 col-sm-8">
      <table id="gridAlerts" class="aa-alerts-grid">
        <thead>
          <tr>
            <th data-field="seller.name" data-i18n="RecipientSeller">Recipient Seller</th>
            <th data-field="creationDate" data-formatter="formatDateTime" data-i18n="Received">Received</th>
            <th data-field="description" data-i18n="Description">Description</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
<script>
  require(["pages/alerts"], function(alerts) { alerts.init(); });
</script>
