<div class="container-fluid">
  <div class="row">
    <div class="row">
      <div class="aa-notification-area no-outline col-sm-offset-3 col-sm-6" tabindex="-1">
      </div>
    </div>
    <div class="col-sm-offset-2 col-sm-4 clearfix">
      <div class="aa-social">
        <label class="lb-lg lb-social" data-i18n="Social">Social</label>
        <button class="btn btn-lg btn-primary btn-google aa-mbl clear" id="btnGoogleSignIn">
          <i class="fa fa-google-plus pull-left"></i> <span data-i18n="GoogleLogin">Google Login</span>
        </button>
        <button class="btn btn-lg btn-primary btn-facebook aa-mbl" id="btnFbSignIn">
          <i class="fa fa-facebook-official pull-left"></i> <span data-i18n="FacebookLogin">Facebook Login</span>
        </button>
      </div>
    </div>
    <div class="col-sm-5">
      <label for="inputEmail" class="lb-lg" data-i18n="Email">Email</label>
      <div class="form-group">
        <input type="email" class="form-control input-lg" id="inputEmail" placeholder="Email">
      </div>
      <label for="inputPassword" class="lb-lg" data-i18n="Password">Password</label>
      <div class="form-group">
        <input type="password" class="form-control input-lg" id="inputPassword" placeholder="Password">
      </div>
      <div class="clearfix">
        <button id="btnForgotPassword" class="btn btn-lg btn-primary left btn-forgot-password" tabindex="-1" data-toggle="modal" data-target="#forgotPasswordModal" data-i18n="ForgotPassword">Forgot Password?</button>
        <button type="button" id="btnLogin" class="btn btn-lg btn-primary right btn-login" data-i18n="Login">Login</button>
      </div>
    </div>
  </div>
</div>
<div id="forgotPasswordModal" class="modal fade" role="dialog">
  <form id="formPasswordReset">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" data-i18n="PasswordRecovery">Password Recovery</h4>
        </div>
        <div class="modal-body">
          <div class="password-reset-notification-area"></div>
          <p data-i18n="PasswordRecoveryDescription">Enter your email address and we'll send you a recovery link.</p>
          <div class="form-group">
            <input type="email" class="form-control" id="inputRecoveryEmail" required placeholder="Email">
          </div>
        </div>
        <div class="modal-footer">
          <button id="btnRecoveryEmail" type="button" class="btn btn-primary" data-i18n="ResetPassword">Reset Password</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-i18n="Cancel">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>
<script>
  require(["pages/login"], function(login) { login.init(); });
</script>
