<div class="container-fluid">
  <div class="row">
    <div class="row">
      <div class="aa-notification-area no-outline col-sm-offset-3 col-sm-6" tabindex="-1">
      </div>
    </div>
    <div class="col-sm-offset-2 col-sm-4 clearfix">
      <div class="aa-social">
        <label class="lb-lg lb-social">Social</label>
        <button class="btn btn-lg btn-primary btn-google aa-mbl clear" id="btnGoogleSignIn">
          <i class="fa fa-google-plus pull-left"></i> Google Login
        </button>
        <button class="btn btn-lg btn-primary btn-facebook aa-mbl" id="btnFbSignIn">
          <i class="fa fa-facebook-official pull-left"></i> Facebook Login
        </button>
      </div>
    </div>
    <div class="col-sm-5">
      <label for="inputEmail" class="lb-lg">Email</label>
      <div class="form-group">
        <input type="email" class="form-control input-lg" id="inputEmail" placeholder="Email">
      </div>
      <label for="inputPassword" class="lb-lg">Password</label>
      <div class="form-group">
        <input type="password" class="form-control input-lg" id="inputPassword" placeholder="Password">
      </div>
      <div class="checkbox">
        <input type="checkbox" id="inputRememberMe" class="aa-lg-checkbox" />
        <label class="lb-lg left lb-remember-me" for="inputRememberMe">
          Remember me
        </label>
        <button type="button" id="btnLogin" class="btn btn-lg btn-primary right btn-login">Login</button>
      </div>
    </div>
  </div>
</div>
<script>
  require(["pages/login"], function(login) { login.init(); });
</script>
