<div class="container-fluid">
  <div class="row">
    <div class="aa-notification-area no-outline col-sm-offset-2 col-sm-8" tabindex="-1">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 aa-post-container" tabindex="-1">
    </div>
  </div>
  <div class="row aa-offer-container">
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-6 aa-input-container" tabindex="-1">
    </div>
  </div>
</div>
<script id="templateReply" type="text/x-jsrender">
  <div class="col-sm-offset-{{:replyOffset}} col-sm-6 aa-offer-reply {{:replyCss}}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="right">{{:time}}</span>
          <a href="{{:headerUrl}}">{{:header}}</a>
        </h3>
      </div>
      <div class="panel-body">
        <div class="panel-description">{{:content}}</div>
        <div class="panel-picture">{{:picture}}</div>
      </div>
    </div>
  </div>
</script>
<script>
  require(["pages/offer"], function(offer) { offer.init({{:0}}); });
</script>
