<form id="formPassword">
  <div class="container-fluid">
    <div class="row">
      <div class="aa-notification-area no-outline col-sm-offset-3 col-sm-6" tabindex="-1">
      </div>
    </div>
    <div class="row aa-profile-section">
      <div class="col-sm-offset-3 col-sm-6">
        <label for="inputOldPassword" class="lb-lg">Old Password</label>
        <div class="form-group">
          <input type="password" class="form-control input-lg" id="inputOldPassword" required placeholder="Old Password">
        </div>
        <label for="inputNewPassword" class="lb-lg">New Password</label>
        <div class="form-group">
          <input type="password" class="form-control input-lg" id="inputNewPassword" required placeholder="New Password">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <button type="button" id="btnUpdatePassword" class="btn btn-lg btn-primary left btn-password-update">Update Password</button>
        <a id="btnBack" href="#profile" class="btn btn-lg btn-primary left margin-left is-hidden">Back</a>
      </div>
    </div>
  </div>
</form>
<script>
  require(["pages/password"], function(password) { password.init("{{:0}}"); });
</script>
