<div class="container-fluid">
  <div class="row">
    <div class="aa-notification-area no-outline col-sm-offset-2 col-sm-8" tabindex="-1">
    </div>
  </div>
  <div class="row">
    <div class="aa-postoffers-container col-sm-offset-2 col-sm-8">
      <table id="gridOffers" class="aa-offers-grid">
        <thead>
          <tr>
            <th data-field="seller.name" data-i18n="Seller">Seller</th>
            <th data-field="time" data-formatter="formatDateTime" data-i18n="Date">Date</th>
            <th data-field="replyCount" data-formatter="formatReplyCount" data-i18n="Replies">Replies</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
<script>
  require(["pages/postoffers"], function(postoffers) { postoffers.init({{:0}}); });
</script>
