<div class="container-fluid">
  <div class="row">
    <div class="aa-notification-area no-outline col-sm-offset-2 col-sm-8" tabindex="-1">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-4 col-sm-6 aa-offer-reply aa-reply-their {{:replyCss}}">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="right" id="spanTime"></span>
            <span id="spanUser"></span>
          </h3>
        </div>
        <div class="panel-body">
          <div id="divDescription"></div>
          <div id="divPicture"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-6 aa-input-container" tabindex="-1">
    </div>
  </div>
</div>
<script>
  require(["pages/postdetails"], function(postdetails) { postdetails.init({{:0}}, {{:1}}); });
</script>
