<div class="container-fluid">
  <div class="aa-post-form row">
    <div class="col-sm-offset-1 col-sm-5">
      <label for="inputKeywords" class="lb">Search</label>
      <div class="form-group">
        <input type="text" class="form-control input" id="inputKeywords" placeholder="What do you want to find?" />
      </div>
      <label for="inputPost" class="lb">Description</label>
      <div class="form-group">
        <textarea class="form-control input" id="inputPost" placeholder="More details?"></textarea>
      </div>
    </div>
    <div class="col-sm-5">
      <label for="inputLocation" class="lb">Location</label>
      <div class="input-group form-group">
        <input type="text" class="form-control input" id="inputLocation" placeholder="Specify the location" />
        <span class="input-group-btn">
          <button class="btn btn-default btn-location-search" type="button">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
      <label for="inputRadius" class="lb">Radius</label>
      <div class="form-group">
        <input type="text" class="form-control input" id="inputRadius" />
      </div>
      <div class="aa-post-map">
      </div>
    </div>
  </div>
  <div class="row">
    - Tags
    <br>
    - Price min
    <br>
    - Price max
    <br>
    - Photo
  </div>
</div>
<script>
  require(["pages/post"], function(post) { post.init(); });
</script>
