<form id="formProfile">
  <div class="container-fluid">
    <div class="row">
      <div class="aa-notification-area no-outline col-sm-offset-3 col-sm-6" tabindex="-1">
      </div>
    </div>
    <div class="row aa-section">
      <div class="col-sm-offset-3 col-sm-6">
        <div class="aa-profile-picture left">
        </div>
        <div class="aa-profile-signout right">
          <button type="button" id="btnSignOut" class="btn btn-primary right btn-signout">Sign Out</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <label for="inputFirst" class="lb">First Name</label>
        <div class="form-group">
          <input type="text" class="form-control" id="inputFirst" required placeholder="First Name">
        </div>
        <label for="inputLast" class="lb">Last Name</label>
        <div class="form-group">
          <input type="text" class="form-control" id="inputLast" required placeholder="Last Name">
        </div>
        <label for="inputPrimaryLocation" class="lb">Primary Location</label>
        <div class="form-group">
          <input type="text" class="form-control" id="inputPrimaryLocation" placeholder="Primary Location">
        </div>
        <label for="inputPicture" class="lb">Profile Picture</label>
        <div class="form-group">
          <input type="file" class="form-control input" id="inputPicture" placeholder="" />
        </div>
      </div>
    </div>
    <div class="row aa-section">
      <div class="col-sm-offset-3 col-sm-6">
        <a id="btnChangePassword" href="#password" class="btn btn-lg btn-primary btn-change-password">Change Password</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <button type="button" id="btnProfileUpdate" class="btn btn-primary left btn-profile-update">Update</button>
        <a id="btnRegisterSeller" href="#seller" class="btn btn-primary right btn-register-seller is-hidden">
          <i class="fa fa-plus"></i>
          Register Seller
        </a>
        <a id="btnViewSellers" href="#sellers" class="btn btn-primary right btn-register-seller is-hidden">
          <i class="fa fa-users"></i>
          My Sellers
        </a>
      </div>
    </div>
  </div>
</form>
<script>
  require(["pages/profile"], function(profile) { profile.init(); });
</script>
