<form id="formProfile">
  <div class="container-fluid">
    <div class="row">
      <div class="aa-notification-area no-outline col-sm-offset-3 col-sm-6" tabindex="-1">
      </div>
    </div>
    <div class="row aa-section">
      <div class="col-sm-offset-3 col-sm-6">
        <div class="aa-profile-picture left">
          <span class="aa-no-photo"></span>
        </div>
        <div class="aa-profile-signout right aa-profile-buttons">
          <button type="button" id="btnSignOut" class="btn btn-primary right btn-signout" data-i18n="SignOut">Sign Out</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <label for="inputFirst" class="lb" data-i18n="FirstName">First Name</label>
        <div class="form-group">
          <input type="text" class="form-control" id="inputFirst" required data-i18n="[placeholder]FirstName" placeholder="First Name">
        </div>
        <label for="inputLast" class="lb" data-i18n="LastName">Last Name</label>
        <div class="form-group">
          <input type="text" class="form-control" id="inputLast" required data-i18n="[placeholder]LastName" placeholder="Last Name">
        </div>
        <label for="inputPrimaryLocation" class="lb" data-i18n="PrimaryLocation">Primary Location</label>
        <div class="form-group">
          <input type="text" class="form-control" id="inputPrimaryLocation" data-i18n="[placeholder]PrimaryLocation" placeholder="Primary Location">
        </div>
        <div class="aa-profile-picture-container">
          <label for="inputPicture" class="lb" data-i18n="ProfilePicture">Profile Picture</label>
          <div class="form-group">
            <input type="file" class="form-control input" id="inputPicture" placeholder="" />
          </div>
        </div>
      </div>
    </div>
    <div class="row aa-section aa-profile-buttons">
      <div class="col-sm-offset-3 col-sm-6">
        <a id="btnChangePassword" href="#password" class="btn btn-lg btn-primary btn-change-password" data-i18n="ChangePassword">Change Password</a>
      </div>
    </div>
    <div class="row aa-profile-buttons">
      <div class="col-sm-offset-3 col-sm-6">
        <button type="button" id="btnProfileUpdate" class="btn btn-primary left btn-profile-update" data-i18n="Update">Update</button>
        <a id="btnRegisterSeller" href="#seller" class="btn btn-primary right btn-register-seller is-hidden">
          <i class="fa fa-plus"></i>
          <span data-i18n="RegisterSeller">Register Seller</span>
        </a>
        <a id="btnViewSellers" href="#sellers" class="btn btn-primary right btn-register-seller is-hidden">
          <i class="fa fa-users"></i>
          <span data-i18n="MySellers">My Sellers</span>
        </a>
      </div>
    </div>
  </div>
</form>
<script>
  require(["pages/profile"], function(profile) { profile.init({{:0}}); });
</script>
