<div class="container-fluid">
  <div class="row">
    <div class="aa-notification-area no-outline col-sm-offset-2 col-sm-8" tabindex="-1">
    </div>
  </div>
  <div class="row">
    <div class="aa-recent-container col-sm-offset-2 col-sm-8">
    </div>
  </div>
</div>
<script id="templatePost" type="text/x-jsrender">
  <div class="aa-post-block">
    <button class="aa-navigate-button btn btn-primary right" data-postid="{{:postId}}" id="btnView">Offers<span class="badge {{:badgeCss}}">{{:conversations}}</span></button>
    <div class="aa-post-header">
      <span class="aa-post-time right">{{:time}}</span>
      <span class="aa-post-caption">{{:title}}</span>
    </div>
    <div class="aa-post-content">
      {{:content}}
    </div>
  </div>
</script>
<script>
  require(["pages/recent"], function(recent) { recent.init(); });
</script>
