<form id="formSellerRegister">
  <div class="container-fluid">
    <div class="row">
      <div class="aa-notification-area no-outline col-sm-offset-3 col-sm-6" tabindex="-1">
      </div>
    </div>
    <div class="row aa-section">
      <div class="col-sm-offset-3 col-sm-6">
        <div class="aa-seller-picture left">
          <span class="aa-no-photo"></span>
        </div>
        <div class="aa-seller-rating-container clearfix">
          <div class="aa-seller-rating right">
          </div>
          <button type="button" id="btnGoToReviews" class="btn btn-primary left btn-goto-reviews is-hidden" data-i18n="SellerReviews">Seller Reviews</button>
          <button type="button" id="btnBackFromReviews" class="btn btn-primary left btn-back-reviews is-hidden" data-i18n="SellerDetails">Seller Details</button>
        </div>
      </div>
    </div>
    <div class="aa-seller-info-container">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <label for="inputName" class="lb" data-i18n="SellerName">Seller Name</label>
          <div class="form-group">
            <input type="text" class="form-control" id="inputName" required data-i18n="[placeholder]Name" placeholder="Name">
          </div>
          <label for="inputPhone" class="lb" data-i18n="Phone">Phone</label>
          <div class="form-group">
            <input type="text" class="form-control" id="inputPhone" data-i18n="[placeholder]Phone" placeholder="Phone">
          </div>
          <label for="inputWebsite" class="lb" data-i18n="Website">Website</label>
          <div class="form-group">
            <input type="text" class="form-control" id="inputWebsite" pattern="^(http://|https://)?(([A-Za-z0-9]{1,})(\.)?){2,}$" data-i18n="[placeholder]Website" placeholder="Website">
          </div>
          <label for="inputTags" class="lb" data-i18n="Keywords">Keywords</label>
          <div class="form-group">
            <input type="text" class="form-control input" id="inputTags" required data-i18n="[placeholder]SellerKeywordsPlaceholder" placeholder="What do you sell?" />
          </div>
          <label for="inputPrimaryLocation" class="lb" data-i18n="PrimaryLocation">Primary Location</label>
          <div class="form-group">
            <input type="text" class="form-control" id="inputPrimaryLocation" data-i18n="[placeholder]PrimaryLocation" placeholder="Primary Location">
          </div>
          <div class="aa-seller-picture-container">
            <label for="inputPicture" class="lb" data-i18n="SellerPicture">Seller Picture</label>
            <div class="form-group">
              <input type="file" class="form-control input" id="inputPicture" placeholder="" />
            </div>
          </div>
        </div>
      </div>
      <div class="row aa-seller-buttons">
        <div class="col-sm-offset-3 col-sm-6">
          <button type="button" id="btnSaveSeller" class="btn btn-primary left btn-save-seller" data-i18n="Save">Save</button>
          <button type="button" id="btnBackSeller" class="btn btn-primary left btn-back-seller" data-i18n="Back">Back</button>
        </div>
      </div>
    </div>
    <div class="aa-seller-reviews-container is-hidden">
      <div class="row margin-bottom">
        <div class="col-sm-offset-3 col-sm-6">
          <h3 class="aa-seller-name-header"></h3>
        </div>
      </div>
      <div class="row margin-bottom aa-new-review-container is-hidden">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="input-group form-group">
            <input type="text" class="form-control aa-new-review-input" data-i18n="[placeholder]SellerReviewPlaceholder" placeholder="Type your review here">
            <span class="input-group-btn">
              <button class="btn btn-default aa-place-review-button" type="button" data-toggle="tooltip" title="Place Review">
                <i class="fa fa-paper-plane"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 aa-reviews-template-container">
        </div>
      </div>
    </div>
  </div>
</form>
<script id="templateReview" type="text/x-jsrender">
  <div class="panel panel-default">
     <div class="panel-heading">
       <h3 class="panel-title">
         <span class="aa-review-author">{{:author}}</span>
         <span class="right aa-review-time">{{:time}}</span>
       </h3>
     </div>
     <div class="panel-body">
       <div class="aa-review-content">{{:content}}</div>
     </div>
   </div>
</script>

