<div class="container-fluid">
  <div class="row">
    <div class="aa-notification-area no-outline col-sm-offset-3 col-sm-6" tabindex="-1">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <a id="btnRegisterSeller" href="#seller" class="btn btn-primary btn-register-seller">
        <i class="fa fa-plus"></i>
        <span data-i18n="AddSeller">Add Seller</span>
      </a>
    </div>
  </div>
  <div class="row margin-top">
    <div class="col-sm-offset-3 col-sm-6">
      <table class="table">
        <thead>
          <tr>
            <th class="half-width" data-i18n="Seller">Seller</th>
            <th class="half-width" data-i18n="Actions">Actions</th>
          </tr>
        </thead>
        <tbody class="aa-sellers-container">
        </tbody>
      </table>
    </div>
  </div>
</div>
<script id="templateSeller" type="text/x-jsrender">
  <tr class="aa-seller-row" data-seller-id="{{:id}}">
    <td><a href="#seller/{{:id}}">{{:name}}</a></td>
    <td><i class="aa-icon aa-remove fa fa-trash-o"></i></td>
  </tr>
</script>
