<form id="formSignUp">
  <div class="container-fluid">
    <div class="row">
      <div class="aa-notification-area no-outline col-sm-offset-3 col-sm-6" tabindex="-1">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <label for="inputEmail" class="lb-lg">Email</label>
        <div class="form-group">
          <input type="email" class="form-control input-lg" id="inputEmail" required placeholder="Email">
        </div>
        <label for="inputFirst" class="lb-lg">First Name</label>
        <div class="form-group">
          <input type="text" class="form-control input-lg" id="inputFirst" required placeholder="First Name">
        </div>
        <label for="inputLast" class="lb-lg">Last Name</label>
        <div class="form-group">
          <input type="text" class="form-control input-lg" id="inputLast" required placeholder="Last Name">
        </div>
        <label for="inputPassword" class="lb-lg">Password</label>
        <div class="form-group">
          <input type="password" class="form-control input-lg" id="inputPassword" required placeholder="Password">
        </div>
        <button type="button" id="btnSignup" class="btn btn-lg right btn-signup">Sign Up</button>
      </div>
    </div>
  </div>
</form>
<script>
  require(["pages/signup"], function(signup) { signup.init(); });
</script>
