.center {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.margin-top {
  margin-top: 10px;
}
.margin-bottom {
  margin-bottom: 10px;
}
.margin-left {
  margin-left: 10px;
}
.is-hidden {
  display: none;
}
.no-outline {
  outline-width: 0;
}
.half-width {
  width: 50%;
}
.readonly {
  cursor: not-allowed;
  background-color: #eee;
}
.readonly input {
  cursor: not-allowed;
  background-color: #eee;
}