#router {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.aa-logo {
  font-family: 'DejaVuSans';
  font-size: 36px;
}

.aa-section {
  margin-bottom: 20px;
}

.aa-mbl {
  margin-bottom: 15px;
  margin-right: 15px;
}

input[type="checkbox"].aa-lg-checkbox {
  position: static;
  margin-right: 5px;
  cursor: pointer;
}

.loading-container {
  relative: 0;
}

.loading {
  background-color: rgba(0,0,0,.1);
  z-index: 99999;
  position: absolute;
}

.spinner {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.badge-highlighted {
  background-color: #00ffff;
}
